* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 500px;
    height: 500px;
    background-color: aqua;
    margin: 50px auto;

    /* overflow: visible; */
    /* overflow: hidden; */
    /* overflow: scroll; */
    /* overflow: auto; */
    overflow-x: auto;
    overflow-y: auto;
}
